body {
  background-color: #eeeeee;
  font-family: sans-serif;
  margin: 0;
  touch-action: none;
}

.BoardContainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board {
  width: 90vmin;
  max-width: 700px;
  height: 90vmin;
  max-height: 700px;
  margin: auto;
  padding: 10px;
  background-color: #8f8d8e;
  border-radius: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.TouchListener {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.Row {
  display: inline-flex;
  height: 25%;
  flex-grow: 1;
}

.Tile {
  width: 25%;
  color: #444;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  font-family: 'Autour One', sans-serif;
  font-size: 4em;
}

.Tile > p {
  margin: auto;
}

.Tile-0 {
  background-color: #c1c1bf;
}

.Tile-2 {
  background-color: #eee2cc;
}

.Tile-4 {
  background-color: #efdfa2;
}

.Tile-8 {
  background-color: #f6cb97;
}

.Tile-16 {
  background-color: #fdad8c;
}

.Tile-32 {
  background-color: #de8c88;
}

.Tile-64 {
  background-color: #c06c84;
}

.Tile-128 {
  background-color: #ac85b8;
  font-size: 3.5em;
}

.Tile-256 {
  background-color: #999fed;
  font-size: 3.5em;
}

